
.secondary {
  background: linear-gradient(135deg, #da035d, #012087);
background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient{
  background: linear-gradient(135deg, #6200EE, #BB86FC);
background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-primary {
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-color{
  color: linear-gradient(135deg, #BB86FC, #6200EE) ;
}
.drawer-icon {
  display: inline-block;
  transition: transform 0.3s;
}
.gradient-border {
  border: 2px solid;
  border-image-source: linear-gradient(135deg, #6200EE, #BB86FC);
  border-image-slice: 1;

}



.skill{
  background:linear-gradient(135deg, rgba(99, 0, 238, 0.553), rgba(187, 134, 252, 0.7));

}
.btn{
  background:linear-gradient(135deg, #6200EE, #BB86FC);
  

}

.contact{
  background-color: #0f0715a8;
}
.about-content::after {
  content: "";
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  filter: blur(225px);
  z-index: -1;
   bottom: -2rem;
  

}

.contact-content::after {
  content: "";
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  filter: blur(225px);
  z-index: -1;
  bottom: 3rem;
  left: 20%;
 

}
.feature-content::after {
  content: "";
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  filter: blur(225px);
  z-index: -1;
   bottom: -2rem;
  

}

.gradient-border-b {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(135deg, #6200EE, #BB86FC);
  border-image-slice: 1;

}


.rotate {
  transform: rotate(45deg);
}
h1, h2, h3, h4, h5, h6 {
  color: #E0E0E0;
}


.hero-content {
  position: relative;
}

.hero-content::after {
  content: "";
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  filter: blur(225px);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content-image::after {
  content: "";
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  filter: blur(225px);
  z-index: -2;
  bottom: -3rem;
  right: 5rem;
}

.drower{
  background-color: #170B24;
}
.hero-content-div {
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
  z-index: -1;
  filter: blur(2px);
}

/* Custom styles for React Quill */
.ql-container {
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
}
.ql-toolbar {
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  margin-bottom: 1rem;
}


/* Media query for screens 768px wide or smaller */
@media (max-width: 768px) {
  .hero-content-div {
    width: 15rem;
    height: 15rem;
   
  }
}

/* Media query for screens 480px wide or smaller */
@media (max-width: 480px) {
  .hero-content-div {
    width: 14rem;
    height: 14rem;
  
  }
}





.skill-content::after {
  content: "";
  width: 20.125rem;
  height: 20.125rem;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(135deg, #BB86FC, #6200EE);
 
  filter: blur(225px);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop-filter {
  backdrop-filter: blur(10px);
}
.gradient-color{
  background: linear-gradient(to right, #4508c8, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 4px rgba(0,0,0.2,0.3);
}

.glow a {
  position: relative;
  display: inline-block;
}

.glow a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  color: #6200EE;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.glow a:hover::after {
  transform: translate(-50%, -50%) scale(1);
}



body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f08d;
  border-radius: 5px;
  filter: blur(5px);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #6200EE, #BB86FC);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #6200EE, #BB86FC);
}
